/*.search {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  margin: 40px 0 40px 0;*/
/*}*/
/*.addButton {*/
/*  background-color: orange;*/
/*  margin-left: 100px;*/
/*  font-size: 12px;*/
/*  width: 300px;*/
/*}*/
.servSelect {
  display: flex;
  justify-content: space-between;
}
.inpStyle {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}
.inputFormMain {
  width: 1000px;
  padding: 40px 0 0 20px;
  display: flex;
  justify-content: space-between;
}
.content {
  padding: 70px 0 0 20px;
}
.priceUnitMainBlock {
  margin: 10px 0 0 50px;
}
